<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Authentication demo</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>

        </style>
    </head>
    <body>
        <main>
            <h1>Protected page</h1>
            <section>
              <p>This page is behind a login wall. You need to be logged in to see it.</p>
            </section>
        </main>
    </body>
</html>
